# Notebook Instructions

1. If you are new to Jupyter notebooks, please go through this introductory manual <a href='https://quantra.quantinsti.com/quantra-notebook' target="_blank">here</a>.
1. Any changes made in this notebook would be lost after you close the browser window. **You can download the notebook to save your work on your PC.**
1. Before running this notebook on your local PC:<br>
i.  You need to set up a Python environment and the relevant packages on your local PC. To do so, go through the section on "**Run Codes Locally on Your Machine**" in the course.<br>
ii. You need to **download the zip file available in the last unit** of this course. The zip file contains the data files and/or python modules that might be required to run this notebook.

## Multiple Tickers Data

In the previous notebook, you learnt how to download the data for a single asset. But in most cases, you will need to retrieve the data for multiple assets at the same time. In this notebook, you will learn the same.

You will perform the following steps. You will download the:
1. [Data for Multiple Assets](#multiple-asset)
2. [Data for Assets Constituting S&P 500](#snp-500)

Note: At times, downloading the data may give you errors due to changes in yahoo finance.

In such cases, it is recommended to upgrade the `yfinance` package using `pip install --upgrade yfinance`. You can update the 'cell type' for the below from 'Raw NBConvert' to a 'Code' cell. Then restart the kernel and run all of the following cells again.

pip install --upgrade yfinance

## Import Libraries

In [ ]:
# For data manipulation
import pandas as pd

# To fetch financial data
import yfinance as yf

# For visualisation
import matplotlib.pyplot as plt
%matplotlib inline
plt.style.use('seaborn-darkgrid')

<a id='multiple-asset'></a> 
## Data for Multiple Assets

Downloading data for multiple assets is as simple as downloading the data for a single asset. This can be done by simply extending the list of tickers in the `download()` method.

Syntax:
```python
import yfinance as yf
yf.download(ticker_list, start, end)[column_name]
```

Parameters:
1. **ticker_list:** List of all tickers
2. **start:** Start date
3. **end:** End date, if not specified, data is downloaded till current data
4. **column_name:** The column to extract from the dataframe

Returns:
A `pandas` dataframe containing the open, high, low, close and adjusted close price along with the volume for all trading days between the start and the end date.

After downloading the data, you can use the `matplotlib` package to visualise the data.

In [ ]:
# Define the ticker list
tickers_list = ['AAPL', 'AMZN', 'MSFT']

# Download the data for the above tickers and extract the Adj Close column
price_data = yf.download(tickers_list, start="2019-01-02")['Adj Close']

# Set the index to a datetime object
price_data.index = pd.to_datetime(price_data.index)

# Display the first 5 rows
price_data.head()

## Plot the Series

Since you will be visualising the price of three different assets, you can divide the entire price series by its respective first price value. This will make the changes comparable.
As you have seen, Apple, Microsoft and Amazon have different price ranges.
If you try to plot them as it is, you will find that these prices will be graphed at different magnitudes and you wouldn't observe much from that.

Hence, one way is to divide it by the first price so that we can compare them on the same scale. This helps us to compare a 100+ stock with a stock whose price is in the 1000s.

In [ ]:
# Plot the absolute price series
plt.figure(figsize=(10,7))
(price_data['AAPL']/price_data['AAPL'].iloc[0]).plot()
(price_data['AMZN']/price_data['AMZN'].iloc[0]).plot()
(price_data['MSFT']/price_data['MSFT'].iloc[0]).plot()
# Set the title and axes label
plt.title('Price in Change', fontsize=14)
plt.xlabel('Year-Month', fontsize=12)
plt.ylabel('Price Change', fontsize=12)
plt.legend()
# Show the plot
plt.show()

<a id='snp-500'></a> 
## Data for Assets Constituting S&P 500

To download the data for all the assets that make up the S&P 500, you will first need the ticker of all the assets. You can read this information from a web source by using the `read_html` method of pandas.

Syntax:
```python
pandas.read_html(url)
```

Parameters:<br>
    **url:** url of the website (in string format)

Returns:
The above method will return a list of dataframes. You can use a proper index to extract the desired data.

You will now read the information from wikipedia

In [4]:
# url of the source
url = 'https://en.wikipedia.org/wiki/List_of_S%26P_500_companies'

# Read and print the stock tickers that make up S&P500
tickers = pd.read_html(url)[0]

tickers.head()

,Symbol,Security,GICS Sector,GICS Sub-Industry,Headquarters Location,Date added,CIK,Founded
0,MMM,3M,Industrials,Industrial Conglomerates,"Saint Paul, Minnesota",1976-08-09,66740,1902
1,AOS,A. O. Smith,Industrials,Building Products,"Milwaukee, Wisconsin",2017-07-26,91142,1916
2,ABT,Abbott,Health Care,Health Care Equipment,"North Chicago, Illinois",1964-03-31,1800,1888
3,ABBV,AbbVie,Health Care,Pharmaceuticals,"North Chicago, Illinois",2012-12-31,1551152,2013 (1888)
4,ACN,Accenture,Information Technology,IT Consulting & Other Services,"Dublin, Ireland",2011-07-06,1467373,1989

In the above dataframe, you can see that the tickers of the assets are stored in the column `Symbol`. You will extract this column, convert it into a list, and pass it as tickers' list into `yf.download()`.

Syntax to convert a column of a dataframe to a list:
```python
DataFrame[column].tolist()
```

Parameter:
**column:** The column to be converted into a list

<i> <span style="color:#FFFF00; background:#00C000"> The following cell fetches the price data for 500 assets. It might take time to run.</i>

In [5]:
# Covert (the ticker)'MMM' column to list
ticker_symbol = tickers['Symbol'].tolist()

# Clean the symbols
ticker_symbol = [ticker.replace(".","-") for ticker in ticker_symbol]

# Get the data for this tickers from yfinance
data = yf.download(ticker_symbol,'2021-1-1', auto_adjust=True)['Close']
data.head()

[*********************100%***********************]  503 of 503 completed

,A,AAL,AAP,AAPL,ABBV,ABC,ABT,ACGL,ACN,ADBE,...,WYNN,XEL,XOM,XRAY,XYL,YUM,ZBH,ZBRA,ZION,ZTS
Date,,,,,,,,,,,,,,,,,,,,,
2020-12-31,116.890480,15.77,149.695145,130.916153,97.484886,94.801720,105.565926,36.070000,253.511108,500.119995,...,112.830002,63.088276,37.065258,51.248020,99.533020,104.276718,147.408386,384.329987,40.903320,163.011230
2021-01-04,117.230370,15.13,149.533585,127.680008,95.901825,93.579849,105.199554,34.900002,248.901108,485.339996,...,106.900002,62.132538,37.317036,52.608501,97.479591,101.644814,146.518707,378.130005,40.423103,161.129944
2021-01-05,118.188866,15.43,149.372025,129.258606,96.893501,94.801720,106.501167,35.040001,250.318100,485.690002,...,110.190002,61.526917,39.115444,54.115799,97.362251,101.654419,149.053818,380.570007,41.063396,162.252823
2021-01-06,121.429901,15.52,158.001526,124.907562,96.056488,102.957237,106.279419,36.580002,253.054977,466.309998,...,110.849998,62.889557,40.113567,56.729088,101.469116,102.211540,153.301270,394.820007,45.677250,164.636429
2021-01-07,124.661049,15.38,159.351089,129.169815,97.084572,106.797394,107.311073,36.240002,255.442505,477.739990,...,109.750000,61.659401,40.428284,56.435467,106.074692,101.433502,152.392471,409.100006,47.070835,164.488678

The above dataframe has the close price of all the assets that make up the S&P 500.

## Tweak the code

You can tweak the code in the following ways:

1. Use a list of assets of your choice to download the data.
2. Use a different time period to download the data.

In the next notebook, you will learn how to download minute level data and resample them.
<br><br>